n8n/workflows/syncra-society-whatsapp.json
{
  "name": "Syncra Society WhatsApp Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "syncra-society",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-syncra",
      "name": "Syncra Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "syncra-society"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ONE item per webhook — builds whatsappMessage in code (never use Set node mixed =/{{ }} syntax).\nconst wrapped = $input.first().json;\nconst body =\n  wrapped.body && typeof wrapped.body === 'object' && !Array.isArray(wrapped.body)\n    ? wrapped.body\n    : wrapped;\n\nconst event = {\n  ...wrapped,\n  ...body,\n  type: body.type ?? wrapped.type ?? 'unknown',\n  societyId: body.societyId ?? wrapped.societyId ?? null,\n  societyName: body.societyName ?? wrapped.societyName ?? 'Society',\n  summary: body.summary ?? wrapped.summary ?? '',\n  title: body.title ?? body.metadata?.title ?? null,\n  body: body.body ?? body.metadata?.body ?? null,\n  message_body:\n    body.message_body ??\n    body.messageBody ??\n    body.message ??\n    wrapped.message_body ??\n    wrapped.message ??\n    '',\n  sender_whatsapp:\n    body.sender_whatsapp ?? body.senderWhatsapp ?? wrapped.sender_whatsapp ?? null,\n  receiver_whatsapp:\n    body.receiver_whatsapp ??\n    body.receiverWhatsapp ??\n    body.to ??\n    wrapped.receiver_whatsapp ??\n    null\n};\n\nfunction sanitizeMessageText(raw) {\n  let text = String(raw ?? '').trim();\n  if (!text) return '';\n  // Strip legacy broken Set-node output that leaked literal '=' or unreplaced {{ }} templates.\n  if (text.startsWith('=')) text = text.slice(1).trim();\n  if (/\\{\\{[^}]+\\}\\}/.test(text)) {\n    return '';\n  }\n  return text;\n}\n\nfunction buildWhatsAppMessage(evt) {\n  const prebuilt = sanitizeMessageText(evt.message_body);\n  if (prebuilt) return prebuilt;\n\n  const societyName = evt.societyName ?? 'Society';\n  const type = String(evt.type ?? '');\n\n  if (type === 'notice.published') {\n    const title = evt.title ?? evt.summary ?? 'New notice';\n    const noticeBody = evt.body ?? '';\n    return `📢 *${societyName}*\\n\\n${title}\\n\\n${noticeBody}\\n\\n_View in syncra-society portal_`;\n  }\n\n  if (type.startsWith('visitor.')) {\n    return `🚪 *${societyName}*\\n\\n${evt.summary ?? 'Visitor update'}\\n\\n_View in syncra-society portal_`;\n  }\n\n  if (type.startsWith('payment.')) {\n    return `💳 *${societyName}*\\n\\n${evt.summary ?? 'Payment update'}\\n\\n_View in syncra-society portal_`;\n  }\n\n  if (type === 'auth.email_verification') {\n    const code = evt.metadata?.code ?? evt.code ?? '';\n    const verifyUrl = evt.metadata?.verifyUrl ?? '';\n    return `*Syncra Society*\\n\\nYour verification code: ${code}\\n\\nOr verify here: ${verifyUrl}`;\n  }\n\n  return `*${societyName}*\\n\\n${evt.summary ?? 'Portal update'}\\n\\n_View in syncra-society portal_`;\n}\n\nconst whatsappMessage = buildWhatsAppMessage(event);\nconst toPhone = event.receiver_whatsapp ?? null;\n\nreturn [\n  {\n    json: {\n      ...event,\n      whatsappMessage,\n      toPhone,\n      sendCount: 1\n    }\n  }\n];"
      },
      "id": "normalize-outbound",
      "name": "Normalize Portal Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "content": "## Twilio WhatsApp Send\n\nRe-import this workflow after every JSON change.\n\nMessage field MUST be expression-only:\n`={{ $json.whatsappMessage }}`\n\nNever use a Set node with `=text {{ $json.x }}` — that sends literal `=` characters.",
        "height": 220,
        "width": 380
      },
      "id": "note-bsp",
      "name": "WhatsApp BSP Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [720, 80]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "={{ $json.sender_whatsapp ? ($json.sender_whatsapp.startsWith('whatsapp:') ? $json.sender_whatsapp : 'whatsapp:' + $json.sender_whatsapp) : 'whatsapp:+14155238886' }}",
        "to": "={{ $json.toPhone ? ($json.toPhone.startsWith('whatsapp:') ? $json.toPhone : 'whatsapp:' + String($json.toPhone).replace(/^\\+?/, '+')) : '' }}",
        "message": "={{ $json.whatsappMessage }}",
        "options": {}
      },
      "id": "twilio-whatsapp",
      "name": "Twilio WhatsApp Send",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [780, 300],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pass-through after Normalize — message already in whatsappMessage.\nconst item = $input.first().json;\nreturn [\n  {\n    json: {\n      sent: Boolean(item.whatsappMessage),\n      mock: true,\n      toPhone: item.toPhone ?? item.receiver_whatsapp ?? null,\n      message: item.whatsappMessage ?? '',\n      type: item.type ?? null\n    }\n  }\n];"
      },
      "id": "mock-whatsapp",
      "name": "Mock WhatsApp Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, processed: $json } }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Syncra",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "options": {}
      },
      "id": "inbound-webhook",
      "name": "WhatsApp Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 560],
      "webhookId": "whatsapp-inbound"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const wrapped = $input.first().json;\nconst body =\n  wrapped.body && typeof wrapped.body === 'object' && !Array.isArray(wrapped.body)\n    ? wrapped.body\n    : wrapped;\nconst merged = { ...wrapped, ...body };\nreturn [\n  {\n    json: {\n      societyId: merged.societyId ?? merged.society_id ?? null,\n      flatNumber: merged.flatNumber ?? merged.flat_number ?? null,\n      phone: merged.phone ?? merged.From ?? merged.from ?? null,\n      messageType: merged.messageType ?? merged.message_type ?? 'ticket',\n      subject: merged.subject ?? merged.Subject ?? null,\n      description:\n        merged.description ??\n        merged.text ??\n        merged.Body ??\n        merged.body?.text ??\n        null,\n      amount: merged.amount ?? null\n    }\n  }\n];"
      },
      "id": "normalize-inbound",
      "name": "Normalize Inbound Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5173/api/automation/inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-syncra-automation-secret",
              "value": "syncra-local-dev-secret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { societyId: $json.societyId, flatNumber: $json.flatNumber, phone: $json.phone, messageType: $json.messageType, subject: $json.subject, description: $json.description, amount: $json.amount } }}",
        "options": {}
      },
      "id": "forward-inbound",
      "name": "Forward to Syncra Portal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 560]
    }
  ],
  "connections": {
    "Syncra Event Webhook": {
      "main": [[{ "node": "Normalize Portal Event", "type": "main", "index": 0 }]]
    },
    "Normalize Portal Event": {
      "main": [[{ "node": "Mock WhatsApp Send", "type": "main", "index": 0 }]]
    },
    "Mock WhatsApp Send": {
      "main": [[{ "node": "Respond to Syncra", "type": "main", "index": 0 }]]
    },
    "Twilio WhatsApp Send": {
      "main": [[{ "node": "Respond to Syncra", "type": "main", "index": 0 }]]
    },
    "WhatsApp Inbound Webhook": {
      "main": [[{ "node": "Normalize Inbound Message", "type": "main", "index": 0 }]]
    },
    "Normalize Inbound Message": {
      "main": [[{ "node": "Forward to Syncra Portal", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
