n8n/workflows/syncra-society-whatsapp.json
{
  "name": "Syncra Society WhatsApp Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "syncra-society",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-syncra",
      "name": "Syncra Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "syncra-society"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const wrapped = $input.first().json;\nconst body = wrapped.body && typeof wrapped.body === 'object' && !Array.isArray(wrapped.body) ? wrapped.body : wrapped;\n\nconst event = {\n  ...wrapped,\n  ...body,\n  type: body.type ?? wrapped.type ?? 'unknown',\n  societyId: body.societyId ?? wrapped.societyId ?? null,\n  societyName: body.societyName ?? wrapped.societyName ?? 'Society',\n  summary: body.summary ?? wrapped.summary ?? '',\n  title: body.title ?? body.metadata?.title ?? null,\n  body: body.body ?? body.metadata?.body ?? null,\n  message_body: body.message_body ?? body.messageBody ?? body.message ?? wrapped.message_body ?? wrapped.message ?? '',\n  sender_whatsapp: body.sender_whatsapp ?? body.senderWhatsapp ?? wrapped.sender_whatsapp ?? null,\n  receiver_whatsapp: body.receiver_whatsapp ?? body.receiverWhatsapp ?? body.to ?? wrapped.receiver_whatsapp ?? null,\n  metadata: body.metadata ?? wrapped.metadata ?? {}\n};\n\nfunction sanitizeMessageText(raw) {\n  let text = String(raw ?? '').trim();\n  while (text.startsWith('==')) text = text.slice(2).trim();\n  while (text.startsWith('=')) text = text.slice(1).trim();\n  text = text.replace(/\\{\\{[^}]+\\}\\}/g, '').trim();\n  return text;\n}\n\nfunction resolveRouteCategory(type) {\n  const t = String(type ?? '').toLowerCase();\n  if (t.startsWith('notice')) return 'notice';\n  if (t.startsWith('visitor')) return 'visitor';\n  if (t.startsWith('payment')) return 'payment';\n  return 'fallback';\n}\n\nfunction buildWhatsAppMessage(evt) {\n  const prebuilt = sanitizeMessageText(evt.message_body);\n  if (prebuilt) return prebuilt;\n  const societyName = evt.societyName ?? 'Society';\n  const type = String(evt.type ?? '');\n  if (type.startsWith('notice')) {\n    const title = evt.title ?? evt.summary ?? 'New notice';\n    const noticeBody = evt.body ?? '';\n    return `📢 *${societyName}*\\n\\n${title}\\n\\n${noticeBody}\\n\\n_View in Syncra Society portal_`;\n  }\n  if (type.startsWith('visitor')) {\n    return `🚪 *${societyName}*\\n\\n${evt.summary ?? 'Visitor approval request'}\\n\\nApprove or deny from your resident app.`;\n  }\n  if (type.startsWith('payment')) {\n    return `💳 *${societyName}*\\n\\n${evt.summary ?? 'Payment update'}\\n\\n_View in Syncra Society portal_`;\n  }\n  if (type === 'auth.email_verification') {\n    const code = evt.metadata?.code ?? evt.code ?? '';\n    const verifyUrl = evt.metadata?.verifyUrl ?? '';\n    return `*Syncra Society*\\n\\nYour verification code: ${code}\\n\\nOr verify here: ${verifyUrl}`;\n  }\n  return `*${societyName}*\\n\\n${evt.summary ?? 'Portal update'}\\n\\n_View in Syncra Society portal_`;\n}\n\nconst routeCategory = resolveRouteCategory(event.type);\nconst whatsappMessage = buildWhatsAppMessage(event);\nconst toPhone = event.receiver_whatsapp ?? null;\n\nreturn [{ json: { ...event, routeCategory, whatsappMessage, toPhone, sendCount: 1 } }];"
      },
      "id": "normalize-outbound",
      "name": "Normalize Portal Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.routeCategory }}", "rightValue": "notice", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "notice"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.routeCategory }}", "rightValue": "visitor", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "visitor"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.routeCategory }}", "rightValue": "payment", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "payment"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route-event-type",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [720, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { ...$input.first().json, channel: 'notice' } }];" },
      "id": "format-notice",
      "name": "Format Notice Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 120]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { ...$input.first().json, channel: 'visitor' } }];" },
      "id": "format-visitor",
      "name": "Format Visitor Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 260]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst meta = item.metadata ?? {};\nconst amount = meta.amount ?? item.amount ?? null;\nconst suffix = amount ? ` Amount: ₹${amount}` : '';\nreturn [{ json: { ...item, channel: 'payment', whatsappMessage: String(item.whatsappMessage ?? item.summary ?? 'Payment reminder') + suffix } }];"
      },
      "id": "format-payment",
      "name": "Format Payment Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { ...$input.first().json, channel: 'fallback' } }];" },
      "id": "format-fallback",
      "name": "Format Fallback Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 540]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "={{ $json.sender_whatsapp ? ($json.sender_whatsapp.startsWith('whatsapp:') ? $json.sender_whatsapp : 'whatsapp:' + $json.sender_whatsapp) : 'whatsapp:+14155238886' }}",
        "to": "={{ $json.toPhone ? ($json.toPhone.startsWith('whatsapp:') ? $json.toPhone : 'whatsapp:' + String($json.toPhone).replace(/^\\+?/, '+')) : '' }}",
        "message": "={{ $json.whatsappMessage }}",
        "options": {}
      },
      "id": "twilio-send",
      "name": "Twilio WhatsApp Send",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1200, 300],
      "credentials": { "twilioApi": { "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID", "name": "Twilio account" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ { success: true, processed: $json } }}", "options": {} },
      "id": "respond-webhook",
      "name": "Respond to Syncra",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1420, 300]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "whatsapp-inbound", "responseMode": "responseNode", "options": {} },
      "id": "inbound-webhook",
      "name": "WhatsApp Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 820],
      "webhookId": "whatsapp-inbound"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const wrapped = $input.first().json;\nconst body = wrapped.body && typeof wrapped.body === 'object' && !Array.isArray(wrapped.body) ? wrapped.body : wrapped;\nconst merged = { ...wrapped, ...body };\nconst description = merged.description ?? merged.text ?? merged.Body ?? merged.body?.Body ?? merged.body?.text ?? '';\nreturn [{ json: { societyId: merged.societyId ?? merged.society_id ?? null, flatNumber: merged.flatNumber ?? merged.flat_number ?? null, phone: merged.phone ?? merged.From ?? merged.from ?? null, subject: merged.subject ?? merged.Subject ?? null, description: String(description ?? '').trim(), amount: merged.amount ?? null, body: merged.body ?? body } }];"
      },
      "id": "normalize-inbound",
      "name": "Normalize Inbound Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 820]
    },
    {
      "parameters": { "model": "llama-3.3-70b-versatile", "options": { "temperature": 0.4 } },
      "id": "groq-chat-model",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [640, 980],
      "credentials": { "groqApi": { "id": "REPLACE_WITH_GROQ_CREDENTIAL_ID", "name": "Groq account" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'You are Syncra Society WhatsApp assistant for a residential society in India.\\n\\nAnalyze the resident message and respond ONLY with valid JSON (no markdown, no code fences):\\n{\"intent\":\"ticket\",\"reply\":\"\"}\\nOR\\n{\"intent\":\"conversation\",\"reply\":\"your helpful short reply here\"}\\n\\nUse intent \"ticket\" when the message is a complaint, maintenance issue, helpdesk request, broken facility, leak, power cut, security concern, or anything requiring society staff action.\\nUse intent \"conversation\" for greetings, thanks, general questions, or small talk — always include a friendly helpful reply in the reply field (max 2 sentences).\\n\\nResident message:\\n' + ($json.description || '') }}",
        "options": {}
      },
      "id": "groq-resident-assistant",
      "name": "Groq Resident Assistant",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [720, 820]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst raw = item.text ?? item.output ?? item.response ?? '';\nlet intent = 'conversation';\nlet reply = 'Hello! I am Syncra Society assistant. How can I help you today?';\n\ntry {\n  const cleaned = String(raw).replace(/```json|```/gi, '').trim();\n  const parsed = JSON.parse(cleaned);\n  if (parsed.intent) intent = String(parsed.intent).toLowerCase();\n  if (parsed.reply) reply = String(parsed.reply).trim();\n} catch {\n  const lower = String(raw).toLowerCase();\n  if (/complaint|ticket|maintenance|broken|leak|helpdesk|repair|not working|issue/.test(lower)) {\n    intent = 'ticket';\n  } else if (String(raw).trim()) {\n    reply = String(raw).trim().slice(0, 500);\n  }\n}\n\nif (['ticket', 'complaint', 'payment_receipt'].includes(intent)) intent = 'ticket';\nelse intent = 'conversation';\n\nreturn [{ json: { ...item, groqIntent: intent, groqReply: reply } }];"
      },
      "id": "parse-groq-intent",
      "name": "Parse Groq Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 820]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.groqIntent }}", "rightValue": "ticket", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ticket"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route-groq-intent",
      "name": "Route Groq Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1120, 820]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst phone = String(item.phone ?? 'whatsapp-unknown').trim();\nconst flatNumber = item.flatNumber ? String(item.flatNumber).trim() : null;\nreturn [{ json: { ...item, portalPayload: { societyId: item.societyId, flatNumber, phone, messageType: 'ticket', subject: item.subject?.trim() || (flatNumber ? `WhatsApp helpdesk — Flat ${flatNumber}` : 'WhatsApp helpdesk ticket'), description: String(item.description ?? '').trim(), amount: item.amount ?? null } } }];"
      },
      "id": "prepare-portal-payload",
      "name": "Prepare Portal Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 720]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://syncra-society.vercel.app/api/automation/inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-syncra-automation-secret", "value": "syncra-local-dev-secret" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-syncra-response-format", "value": "twiml" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.portalPayload }}",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "forward-inbound",
      "name": "Forward to Syncra Portal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 720]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nlet msg = String(item.groqReply ?? 'Hello! How can I help you today?').trim();\nwhile (msg.startsWith('==')) msg = msg.slice(2).trim();\nwhile (msg.startsWith('=')) msg = msg.slice(1).trim();\nreturn [{ json: { rawMessage: msg } }];"
      },
      "id": "build-conversation-twiml",
      "name": "Build Conversation Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 920]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function sanitizeText(raw) {\n  let msg = String(raw ?? '').trim();\n  while (msg.startsWith('==')) msg = msg.slice(2).trim();\n  while (msg.startsWith('=')) msg = msg.slice(1).trim();\n  msg = msg.replace(/==+/g, '');\n  return msg.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\nconst item = $input.first();\nconst fromHttp = item.body ?? item.json?.body;\nlet twiml = String(fromHttp ?? item.json?.rawMessage ?? item.json?.twiml ?? '').trim();\n\nif (twiml.includes('<Response>')) {\n  twiml = twiml.replace(/==+/g, '');\n  const match = twiml.match(/<Message>([\\s\\S]*?)<\\/Message>/i);\n  if (match) {\n    const inner = sanitizeText(match[1]);\n    twiml = `<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Message>${inner}</Message></Response>`;\n  }\n} else {\n  const inner = sanitizeText(twiml);\n  twiml = `<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Message>${inner}</Message></Response>`;\n}\n\nreturn [{ json: { twiml } }];"
      },
      "id": "sanitize-twiml",
      "name": "Sanitize TwiML Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 820]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.twiml }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/xml; charset=utf-8" }] } }
      },
      "id": "respond-inbound-twiml",
      "name": "Respond to WhatsApp Inbound",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 820]
    },
    {
      "parameters": {
        "content": "## Inbound (Groq-first)\\n\\n1. Normalize message\\n2. Groq classifies ticket vs conversation\\n3. **ticket** → Syncra Portal API\\n4. **conversation** → Groq reply only\\n5. Sanitize TwiML (strip `==`) → respond\\n\\nOutbound: notice | visitor | payment | fallback",
        "height": 240,
        "width": 440
      },
      "id": "note-bsp",
      "name": "WhatsApp BSP Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [720, 40]
    }
  ],
  "connections": {
    "Syncra Event Webhook": { "main": [[{ "node": "Normalize Portal Event", "type": "main", "index": 0 }]] },
    "Normalize Portal Event": { "main": [[{ "node": "Route by Event Type", "type": "main", "index": 0 }]] },
    "Route by Event Type": {
      "main": [
        [{ "node": "Format Notice Message", "type": "main", "index": 0 }],
        [{ "node": "Format Visitor Message", "type": "main", "index": 0 }],
        [{ "node": "Format Payment Message", "type": "main", "index": 0 }],
        [{ "node": "Format Fallback Message", "type": "main", "index": 0 }]
      ]
    },
    "Format Notice Message": { "main": [[{ "node": "Twilio WhatsApp Send", "type": "main", "index": 0 }]] },
    "Format Visitor Message": { "main": [[{ "node": "Twilio WhatsApp Send", "type": "main", "index": 0 }]] },
    "Format Payment Message": { "main": [[{ "node": "Twilio WhatsApp Send", "type": "main", "index": 0 }]] },
    "Format Fallback Message": { "main": [[{ "node": "Twilio WhatsApp Send", "type": "main", "index": 0 }]] },
    "Twilio WhatsApp Send": { "main": [[{ "node": "Respond to Syncra", "type": "main", "index": 0 }]] },
    "WhatsApp Inbound Webhook": { "main": [[{ "node": "Normalize Inbound Message", "type": "main", "index": 0 }]] },
    "Normalize Inbound Message": { "main": [[{ "node": "Groq Resident Assistant", "type": "main", "index": 0 }]] },
    "Groq Chat Model": { "ai_languageModel": [[{ "node": "Groq Resident Assistant", "type": "ai_languageModel", "index": 0 }]] },
    "Groq Resident Assistant": { "main": [[{ "node": "Parse Groq Intent", "type": "main", "index": 0 }]] },
    "Parse Groq Intent": { "main": [[{ "node": "Route Groq Intent", "type": "main", "index": 0 }]] },
    "Route Groq Intent": {
      "main": [
        [{ "node": "Prepare Portal Payload", "type": "main", "index": 0 }],
        [{ "node": "Build Conversation Reply", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Portal Payload": { "main": [[{ "node": "Forward to Syncra Portal", "type": "main", "index": 0 }]] },
    "Forward to Syncra Portal": { "main": [[{ "node": "Sanitize TwiML Response", "type": "main", "index": 0 }]] },
    "Build Conversation Reply": { "main": [[{ "node": "Sanitize TwiML Response", "type": "main", "index": 0 }]] },
    "Sanitize TwiML Response": { "main": [[{ "node": "Respond to WhatsApp Inbound", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "meta": { "templateCredsSetupCompleted": true }
}
